In [1]:
#Loading Data

In [2]:
import pandas as pd
import numpy as np

In [3]:
path = '../data/raw/experimental.xlsx'
df = pd.read_excel(path)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227170 entries, 0 to 227169
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan status           227170 non-null  object
 1   annual income         227170 non-null  float64
 2   employment length     218498 non-null  object
 3   loan amount           227170 non-null  int64
 4   income verification   227170 non-null  object
 5   intrest rate          227170 non-null  float64
 6   term                  227170 non-null  object
 7   purpose               227170 non-null  object
 8   housing type          227170 non-null  object
 9   debt to income ratio  227170 non-null  float64
 10  credit availability   227170 non-null  int64
 11  delayed payments      227170 non-null  object
 12  pending registration  227170 non-null  object
 13  credit application    227170 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 24.3+ MB

In [5]:
df.select_dtypes(object)

,loan status,employment length,income verification,term,purpose,housing type,delayed payments,pending registration,credit application
0,Fully Paid,10+ years,Verified,36 months,credit_card,RENT,NO,NO,ONE
1,Charged Off,< 1 year,Source Verified,60 months,car,RENT,NO,NO,FOUR+
2,Fully Paid,10+ years,Not Verified,36 months,small_business,RENT,NO,NO,TWO
3,Fully Paid,10+ years,Source Verified,36 months,other,RENT,NO,NO,ONE
4,Fully Paid,3 years,Source Verified,36 months,wedding,RENT,NO,NO,THREE
...,...,...,...,...,...,...,...,...,...
227165,Charged Off,5 years,Verified,60 months,medical,MORTGAGE,YES,NO,NONE
227166,Charged Off,3 years,Verified,36 months,debt_consolidation,RENT,YES,NO,NONE
227167,Fully Paid,10+ years,Source Verified,36 months,vacation,RENT,NO,NO,NONE
227168,Charged Off,10+ years,Verified,60 months,debt_consolidation,MORTGAGE,NO,YES,FOUR+
227169,Fully Paid,3 years,Verified,36 months,credit_card,OWN,YES,NO,ONE

In [6]:
object_df = df.select_dtypes(object)
object_df.head()

,loan status,employment length,income verification,term,purpose,housing type,delayed payments,pending registration,credit application
0,Fully Paid,10+ years,Verified,36 months,credit_card,RENT,NO,NO,ONE
1,Charged Off,< 1 year,Source Verified,60 months,car,RENT,NO,NO,FOUR+
2,Fully Paid,10+ years,Not Verified,36 months,small_business,RENT,NO,NO,TWO
3,Fully Paid,10+ years,Source Verified,36 months,other,RENT,NO,NO,ONE
4,Fully Paid,3 years,Source Verified,36 months,wedding,RENT,NO,NO,THREE

In [7]:
df['loan status'].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [8]:
df['loan status'].value_counts()

loan status
Fully Paid     184702
Charged Off     42468
Name: count, dtype: int64

In [9]:
df['purpose'].unique()

array(['credit_card', 'car', 'small_business', 'other', 'wedding',
       'debt_consolidation', 'home_improvement', 'major_purchase',
       'medical', 'moving', 'vacation', 'house', 'renewable_energy',
       'educational'], dtype=object)

In [10]:
df['purpose'].value_counts().to_dict()

{'debt_consolidation': 132263,
 'credit_card': 45523,
 'home_improvement': 13199,
 'other': 12832,
 'major_purchase': 5720,
 'small_business': 4486,
 'car': 3391,
 'medical': 2577,
 'wedding': 1954,
 'moving': 1797,
 'house': 1449,
 'vacation': 1403,
 'educational': 325,
 'renewable_energy': 251}

In [11]:
df['loan amount'].describe()

count    227170.000000
mean      13458.332856
std        8046.324781
min         500.000000
25%        7200.000000
50%       12000.000000
75%       18000.000000
max       35000.000000
Name: loan amount, dtype: float64

In [12]:
df.describe()

,annual income,loan amount,intrest rate,debt to income ratio,credit availability
count,2.271700e+05,227170.000000,227170.000000,227170.000000,227170.000000
mean,7.203670e+04,13458.332856,13.768522,16.364104,10.832702
std,5.529518e+04,8046.324781,4.383476,7.669369,4.798500
min,3.000000e+03,500.000000,5.420000,0.000000,0.000000
25%,4.500000e+04,7200.000000,10.740000,10.660000,7.000000
50%,6.200000e+04,12000.000000,13.610000,16.050000,10.000000
75%,8.600000e+04,18000.000000,16.450000,21.780000,13.000000
max,7.141778e+06,35000.000000,26.060000,39.990000,76.000000

In [13]:
df['employment length'] = df['employment length'].fillna('ffill')
df.isnull().sum()

loan status             0
annual income           0
employment length       0
loan amount             0
income verification     0
intrest rate            0
term                    0
purpose                 0
housing type            0
debt to income ratio    0
credit availability     0
delayed payments        0
pending registration    0
credit application      0
dtype: int64

In [14]:
df['income verification'].unique()

array(['Verified', 'Source Verified', 'Not Verified'], dtype=object)

In [16]:
df['credit application'].unique()

array(['ONE', 'FOUR+', 'TWO', 'THREE', 'NONE'], dtype=object)

In [19]:
df['housing type'].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER'], dtype=object)

In [18]:
df['pending registration'].unique()

array(['NO', 'YES'], dtype=object)

In [26]:
df['loan status'].value_counts(normalize=True) * 100

loan status
Fully Paid     81.30563
Charged Off    18.69437
Name: proportion, dtype: float64

In [28]:
df['loan status'] = df['loan status'].replace({'Fully Paid': 1, 'Charged Off': 0})
df['loan status'].value_counts()

C:\Users\usar\AppData\Local\Temp\ipykernel_20184\4018679107.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['loan status'] = df['loan status'].replace({'Fully Paid': 1, 'Charged Off': 0})

loan status
1    184702
0     42468
Name: count, dtype: int64

In [29]:
from datetime import datetime

# Get today's date in YYYY-MM-DD format
today_date = datetime.now().strftime('%Y-%m-%d')

# Generate the filename
filename = f"../data/processed/{today_date}_processed_data.csv"

# Export the DataFrame
df.to_csv(filename, index=False)

print(f"DataFrame exported as {filename}")

DataFrame exported as ../data/processed/2024-12-03_processed_data.csv