In [1]:
#Loading Data

In [2]:
import pandas as pd
import numpy as np

In [3]:
path = '../data/raw/experimental.xlsx'
df = pd.read_excel(path)

In [4]:
df.head()

,loan status,annual income,employment length,loan amount,income verification,intrest rate,term,purpose,housing type,debt to income ratio,credit availability,delayed payments,pending registration,credit application
0,Fully Paid,24000.0,10+ years,5000,Verified,10.65,36 months,credit_card,RENT,27.65,3,NO,NO,ONE
1,Charged Off,30000.0,< 1 year,2500,Source Verified,15.27,60 months,car,RENT,1.00,3,NO,NO,FOUR+
2,Fully Paid,12252.0,10+ years,2400,Not Verified,15.96,36 months,small_business,RENT,8.72,2,NO,NO,TWO
3,Fully Paid,49200.0,10+ years,10000,Source Verified,13.49,36 months,other,RENT,20.00,10,NO,NO,ONE
4,Fully Paid,36000.0,3 years,5000,Source Verified,7.90,36 months,wedding,RENT,11.20,9,NO,NO,THREE

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227170 entries, 0 to 227169
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan status           227170 non-null  object
 1   annual income         227170 non-null  float64
 2   employment length     218498 non-null  object
 3   loan amount           227170 non-null  int64
 4   income verification   227170 non-null  object
 5   intrest rate          227170 non-null  float64
 6   term                  227170 non-null  object
 7   purpose               227170 non-null  object
 8   housing type          227170 non-null  object
 9   debt to income ratio  227170 non-null  float64
 10  credit availability   227170 non-null  int64
 11  delayed payments      227170 non-null  object
 12  pending registration  227170 non-null  object
 13  credit application    227170 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 24.3+ MB

In [6]:
df.isnull().sum()

loan status                0
annual income              0
employment length       8672
loan amount                0
income verification        0
intrest rate               0
term                       0
purpose                    0
housing type               0
debt to income ratio       0
credit availability        0
delayed payments           0
pending registration       0
credit application         0
dtype: int64

In [9]:
df['loan status'].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [10]:
df['loan status'].value_counts()

loan status
Fully Paid     184702
Charged Off     42468
Name: count, dtype: int64

In [11]:
df['purpose'].unique()

array(['credit_card', 'car', 'small_business', 'other', 'wedding',
       'debt_consolidation', 'home_improvement', 'major_purchase',
       'medical', 'moving', 'vacation', 'house', 'renewable_energy',
       'educational'], dtype=object)

In [12]:
df['purpose'].value_counts()

purpose
debt_consolidation    132263
credit_card            45523
home_improvement       13199
other                  12832
major_purchase          5720
small_business          4486
car                     3391
medical                 2577
wedding                 1954
moving                  1797
house                   1449
vacation                1403
educational              325
renewable_energy         251
Name: count, dtype: int64

In [13]:
df['loan amount'].describe()

count    227170.000000
mean      13458.332856
std        8046.324781
min         500.000000
25%        7200.000000
50%       12000.000000
75%       18000.000000
max       35000.000000
Name: loan amount, dtype: float64

In [15]:
df.describe()

,annual income,loan amount,intrest rate,debt to income ratio,credit availability
count,2.271700e+05,227170.000000,227170.000000,227170.000000,227170.000000
mean,7.203670e+04,13458.332856,13.768522,16.364104,10.832702
std,5.529518e+04,8046.324781,4.383476,7.669369,4.798500
min,3.000000e+03,500.000000,5.420000,0.000000,0.000000
25%,4.500000e+04,7200.000000,10.740000,10.660000,7.000000
50%,6.200000e+04,12000.000000,13.610000,16.050000,10.000000
75%,8.600000e+04,18000.000000,16.450000,21.780000,13.000000
max,7.141778e+06,35000.000000,26.060000,39.990000,76.000000